body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:50px;
  width:480px;
  height:750px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:750px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:19px;
  top:0px;
  width:92px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:48px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:29px;
  top:8px;
  width:32px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:193px;
  top:10px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:80px;
  width:480px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#666666;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:60px;
  top:16px;
  width:418px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:127px;
  width:480px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#666666;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:60px;
  top:16px;
  width:418px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:174px;
  width:480px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#666666;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:60px;
  top:16px;
  width:418px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:221px;
  width:480px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#666666;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:60px;
  top:16px;
  width:418px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:440px;
  top:92px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:440px;
  top:140px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:440px;
  top:186px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:440px;
  top:232px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:268px;
  width:480px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#666666;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:60px;
  top:16px;
  width:418px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:440px;
  top:280px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:88px;
  width:31px;
  height:31px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:10px;
  top:136px;
  width:31px;
  height:31px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:10px;
  top:186px;
  width:31px;
  height:31px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:10px;
  top:227px;
  width:31px;
  height:31px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:10px;
  top:276px;
  width:31px;
  height:31px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:750px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:19px;
  top:0px;
  width:92px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:48px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u41_img.mouseDown {
}
#u41.mouseDown {
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:29px;
  top:8px;
  width:32px;
  height:32px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:193px;
  top:10px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:0px;
  top:80px;
  width:480px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:60px;
  top:8px;
  width:418px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:127px;
  width:480px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:60px;
  top:8px;
  width:418px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:440px;
  top:93px;
  width:24px;
  height:24px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:440px;
  top:140px;
  width:24px;
  height:24px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:10px;
  top:86px;
  width:37px;
  height:37px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:10px;
  top:133px;
  width:37px;
  height:37px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:150px;
  top:290px;
}
#u60_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u60_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
  font-size:20px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
}
#u62 {
  position:absolute;
  left:2px;
  top:38px;
  width:216px;
  word-wrap:break-word;
}
